beautifulsoup4
flask
google
googletrans==4.0.0-rc1
jinja2
keras
nltk
numpy
openpyxl
pandas
passlib[bcrypt]
pyaudio
pymongo[srv]
python_dotenv
pyttsx3
redis
requests
speechrecognition
tensorflow
unidecode