chess
flask
flask-socketio
google
googletrans==4.0.0-rc1
gunicorn
jinja2
keras
nltk
numpy
openpyxl
pandas
passlib[bcrypt]
pymongo[srv]
python_dotenv
redis
requests
speechrecognition
tensorflow
unidecode