{% extends "./layouts/base_layout.html" %}

{% block title %}Chess{% endblock %}

<!-- Loading Login form CSS-->
{% block login_stylesheet %}
    <link href="{{ url_for('static', filename='./css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block page_title %}
    Jouer aux échecs
{% endblock %}

{% block page_desc %}
    <div class="card-3d-wrap mx-auto" style="height: 300px">
        <div class="card-3d-wrapper">
            <div class="card-front">
                <div class="center-wrap">
                    <form action="/chess" class="section text-center" method="post">
                        <div class="form-group mt-2">
                            <h5 class="mb-4 pb-3">Saisissez le nom de l'utilisateur que vous souhaitez
                                affronter:</h5>
                            <select name="chess_opponent_username" class="form-style" required>
                                <option class="form-style"
                                        value="{{ users[0] }}" selected>{{ users[0] }}</option>
                                {% for user in users[1:] %}
                                    <option value="{{ user }}">{{ user }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" name="submit" class="btn mt-4"
                                   value="Jouer" id="forgot_button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
