{% extends "./layouts/base_layout.html" %}

{% block title %}Chess{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <br>
    <section class="page-section">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_rook.png') }}"
                             alt="black_rook">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_knight.png') }}"
                             alt="black_knight">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_bishop.png') }}"
                             alt="black_bishop">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_queen.png') }}"
                             alt="black_queen">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_king.png') }}"
                             alt="black_king">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_bishop.png') }}"
                             alt="black_bishop">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_knight.png') }}"
                             alt="black_knight">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_rook.png') }}"
                             alt="black_rook">
                    </div>
                </div>
                <div class="row">
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_pawn.png') }}"
                             alt="black_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_pawn.png') }}"
                             alt="black_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_pawn.png') }}"
                             alt="black_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_pawn.png') }}"
                             alt="black_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_pawn.png') }}"
                             alt="black_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_pawn.png') }}"
                             alt="black_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_pawn.png') }}"
                             alt="black_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/black_pawn.png') }}"
                             alt="black_pawn">
                    </div>
                </div>
                <div class="row">
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                    <div class="col border border-dark border-4">
                        <div class="card-img" style="width: 6rem;height: 6rem"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_pawn.png') }}"
                             alt="white_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_pawn.png') }}"
                             alt="white_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_pawn.png') }}"
                             alt="white_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_pawn.png') }}"
                             alt="white_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_pawn.png') }}"
                             alt="white_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_pawn.png') }}"
                             alt="white_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_pawn.png') }}"
                             alt="white_pawn">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_pawn.png') }}"
                             alt="white_pawn">
                    </div>
                </div>
                <div class="row">
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_rook.png') }}"
                             alt="white_rook">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_knight.png') }}"
                             alt="white_knight">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_bishop.png') }}"
                             alt="white_bishop">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_queen.png') }}"
                             alt="white_queen">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_king.png') }}"
                             alt="white_king">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_bishop.png') }}"
                             alt="white_bishop">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_knight.png') }}"
                             alt="white_knight">
                    </div>
                    <div class="col border border-dark border-4">
                        <img class="card-img" style="width: 6rem;height: 6rem"
                             src="{{ url_for('static', filename='./assets/img/chess/white_rook.png') }}"
                             alt="white_rook">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}