{% extends "./layouts/base_layout.html" %}

{% block title %}Chess{% endblock %}

<!-- Loading Login form CSS-->
{% block login_stylesheet %}
    <link href="{{ url_for('static', filename='./css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block page_title %}
    Jouer aux échecs
{% endblock %}

{% block page_desc %}
    <div class="card-3d-wrap mx-auto" style="height: 300px">
        <div class="card-3d-wrapper">
            <div class="card-front">
                <div class="center-wrap">
                    <form action="/chess" class="section text-center" method="post">
                        <div class="form-group mt-2">
                            <h5 class="mb-4 pb-3">Saisissez le nom de l'utilisateur que vous souhaitez
                                affronter:</h5>
                            <input type="text" name="chess_opponent_username" class="form-style"
                                   placeholder="Nom d'utilisateur de l'adversaire"
                                   id="chess_opponent_username"
                                   title="Nom d'utilisateur de la personne à affronter"
                                   autocomplete="off" required>
                            <i class="input-icon uil uil-at"></i>
                            <input type="submit" name="submit" class="btn mt-4"
                                   value="Envoyer" id="forgot_button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
