{% extends "./layouts/base_layout.html" %}

{% block title %}
    {% if not arg %}
        Email de vérification
    {% else %}
        Vérification effectuée
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if not arg %}
        Email de vérification
    {% else %}
        Vérification effectuée
    {% endif %}
{% endblock %}

{% block page_desc %}
    {% if not arg %}
        Un email de vérification vous a bien été adressé, pensez à regarder dans vos spams. (L'expéditeur est
        lecnambot@gmail.com)
        <br><br>
        Une fois le lien reçu, pensez à cliquer dessus et vous serez redirigé vers votre compte fraîchement créé.
        <br><br>
        Si vous ne cliquez pas sur ce lien. Votre inscription n'est pas considérée comme validée et votre compte n'est
        donc
        pas créé.
    {% else %}
        Votre email a bien été vérifié.
        <br><br>
        Vous pouvez désormais vous connecter à CnamBot.
    {% endif %}
{% endblock %}