{% extends "./layouts/base_layout.html" %}

{% block title %}Email de vérification{% endblock %}

{% block page_title %}Email de vérification{% endblock %}
{% block page_desc %}
    Un email de vérification vous a bien été adressé, pensez à regarder dans vos spams. (L'expéditeur est lecnambot@gmail.com)
    <br>
    Une fois le lien reçu, pensez à cliquer dessus et vous serez redirigé vers votre compte fraîchement créé.
    <br>
    Si vous ne cliquez pas sur ce lien. Votre inscription n'est pas considérée comme validée et votre compte n'est donc pas créé.
{% endblock %}

{% block content %}

{% endblock %}