{% extends "./layouts/base_layout.html" %}

{% block title %}
    {% if not arg %}
        Email de vérification
    {% else %}
        Vérification effectuée
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if not arg %}
        Email de vérification
    {% else %}
        Vérification effectuée
    {% endif %}
{% endblock %}

{% block page_desc %}
    {% if not arg %}
        Un email de vérification vous a bien été adressé, pensez à regarder dans vos spams. (L'expéditeur est
        lecnambot@gmail.com)
        <br><br>
        Une fois le lien reçu, pensez à cliquer dessus et vous aurez validé votre inscription, vous pourrez ensuite vous
        connecter.
        <br><br>
        Votre inscription ne sera pas valide tant que vous n'aurez pas cliqué sur ce lien, vous disposez de 10 minutes.
    {% else %}
        Votre email a bien été vérifié.
        <br><br>
        Vous pouvez désormais vous connecter à CnamBot.
    {% endif %}
{% endblock %}