{% extends "./layouts/base_layout.html" %}

{% block title %}
    {% if not arg %}
        {% if pwd_changed %}
            Réinitialisation du mot de passe
        {% else %}
            Mot de passe oublié
        {% endif %}
    {% else %}
        Réinitialisation du mot de passe
    {% endif %}
{% endblock %}

<!-- Loading Login form CSS-->
{% block login_stylesheet %}
    <link href="{{ url_for('static', filename='./css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block custom_link %}
    <!-- Check if the two passwords input are the same-->
    <script type='text/javascript'>
        function check(input) {
            if (input.value !== document.getElementById('new_password').value) {
                input.setCustomValidity('Les mots de passe entrés doivent être identiques !');
            } else {
                // input is valid, reset the error message
                input.setCustomValidity('');
            }
        }</script>
{% endblock %}

{% block page_title %}
    {% if not arg %}
        {% if pwd_changed %}
            Réinitialisation du mot de passe
        {% else %}
            Mot de passe oublié
        {% endif %}
    {% else %}
        Réinitialisation du mot de passe
    {% endif %}
{% endblock %}

{% block page_desc %}
    {% if not arg %}
        {% if not send %}
            <div class="card-3d-wrap mx-auto" style="height: 300px">
                <div class="card-3d-wrapper">
                    <div class="card-front">
                        <div class="center-wrap">
                            <form action="/forgot-password" class="section text-center" method="post">
                                <div class="form-group mt-2">
                                    <h5 class="mb-4 pb-3">Saisissez l'email CNAM avec lequel vous vous êtes inscrit
                                        :</h5>
                                    <input type="email" name="forgot_email" class="form-style"
                                           placeholder="Adresse email CNAM" id="forgot_email"
                                           title="Une adresse auditeur du CNAM ressemble à : prenom.nom.auditeur@lecnam.net"
                                           pattern="[\w]{1,}[.]{1}[\w]{1,}[.]{1}auditeur@lecnam.net"
                                           autocomplete="off" required>
                                    <i class="input-icon uil uil-at"></i>
                                    <input type="submit" name="submit" class="btn mt-4"
                                           value="Envoyer" id="forgot_button">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% if pwd_changed %}
                Votre mot de passe a bien été changé !
                <br><br>
                Vous pouvez désormais vous connecter.
            {% else %}
                Un email contenant un lien de réinitialisation de votre mot de passe vient de vous être envoyé.
            {% endif %}
        {% endif %}
    {% else %}
        <div class="card-3d-wrap mx-auto" style="height: 350px">
            <div class="card-3d-wrapper">
                <div class="card-front">
                    <div class="center-wrap">
                        <form action="/forgot-password/{{ arg }}" class="section text-center" method="post">
                            <div class="form-group mt-2">
                                <h5 class="mb-4 pb-3">Veuillez entrer votre nouveau mot de passe et le confirmer :</h5>
                                <input type="password" name="new_password" class="form-style"
                                       placeholder="Mot de passe" id="new_password"
                                       title="Votre mot de passe doit contenir au minimum :
                                                           une lettre minuscule,
                                                           une lettre majuscule,
                                                           1 chiffre,
                                                           10 caractères"
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}"
                                       autocomplete="off" required>
                                <i class="input-icon uil uil-lock-alt"></i>
                            </div>
                            <div class="form-group mt-2">
                                <input type="password" name="verified_new_password" class="form-style"
                                       placeholder="Confirmez votre mot de passe" id="verified_new_password"
                                       title="Votre mot de passe doit contenir au minimum :
                                                           une lettre minuscule,
                                                           une lettre majuscule,
                                                           1 chiffre,
                                                           10 caractères"
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}"
                                       autocomplete="off" oninput="check(this)" required>
                                <i class="input-icon uil uil-lock-alt"></i>
                                <input type="submit" name="submit" class="btn mt-4"
                                       value="Modifier" id="new_pwd_button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}