{% extends "./layouts/base_layout.html" %}

{% block title %}
    Profil de {{ user_infos["username"] }}
{% endblock %}

<!-- Loading Login form CSS-->
{% block login_stylesheet %}
    <link href="{{ url_for('static', filename='./css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block custom_link %}
    <script type="text/javascript">
        /**
         * Change the current URL based on the selected username of the `HTML select tag`.
         * @param selectForm
         */
        function changeUserProfile(selectForm) {
            const options = selectForm.children;
            for (const opt of options) {
                if (opt.selected) {
                    window.location.href = `/profile/${opt.value}`;
                }
            }
        }
    </script>
{% endblock %}

{% block navbarAddOn %}
    <form class="section">
        <div class="form-group mt-2">
            <select name="profile_username" class="form-style" onchange="changeUserProfile(this)">
                <option class="form-style" value="" selected>Quel profil souhaitez vous consulter ?</option>
                {% for user in users %}
                    <option value="{{ user }}" class="form-style">{{ user }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
{% endblock %}

{% block page_title %}
    Profil de {{ user_infos["username"] }}
{% endblock %}

{% block page_desc %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                {% if user_infos["avatar"] %}
                    <img class="avatar" src="{{ avatar }}"
                         alt="avatar-{{ user_infos["username"] }}"/>
                {% else %}
                    <img class="avatar" src="{{ url_for('static', filename='./assets/img/avatar.png') }}"
                         alt="avatar-{{ user_infos["username"] }}"/>
                {% endif %}
                <br>
                {% if user_infos["username"] == session.get("username") %}
                    <div class="row">
                        <div class="col">
                            <a href="https://getavataaars.com/">
                                <button type="button" class="btn btn-secondary">Créer son avatar</button>
                            </a>
                        </div>
                        <div class="col">
                            <form action="/profile/{{ user_infos["username"] }}" class="section text-center"
                                  method="post"
                                  enctype="multipart/form-data">
                                <input type="file" name="file" accept=".png" class="btn btn-secondary" required>
                                <br><br>
                                <input type="submit" class="btn btn-secondary"
                                       value="Upload">
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">Prénom : {{ user_infos["firstname"] }}</li>
                    <li class="list-group-item">Nom : {{ user_infos["lastname"] }}</li>
                    <li class="list-group-item">Promotion : {{ user_infos["promo"] }}</li>
                    <li class="list-group-item">Email : {{ user_infos["email"] }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}