{% extends "./layouts/base_layout.html" %}

{% block title %}
    Profil de {{ user_infos["username"] }}
{% endblock %}

{% block custom_link %}
    <!-- Jquery for search bar-->
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet" type="text/css"/>
    <!-- Jquery for search bar-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <script type="text/javascript">
        // The list of users from CnamBot
        const availableTags = [
            {% for user in users %}
                "{{ user }}",
            {% endfor %}
        ];

        // Check if the input is in the users list provided
        window.addEventListener("DOMContentLoaded", () => {
            const input = document.getElementById("users");
            input.addEventListener("keypress", (event) => {
                if (event.key === "Enter") {
                    if (availableTags.includes(input.value)) {
                        window.location.href = `/profile/${input.value}`;
                    }
                }
            });
            input.addEventListener("selectionchange", () => {
                if (availableTags.includes(input.value)) {
                    window.location.href = `/profile/${input.value}`;
                }
            });
        });

        // Autocomplete users from Jquery library
        $(function () {
            $("#users").autocomplete({
                source: availableTags
            });
        });
    </script>
{% endblock %}

{% block page_title %}
    Profil de {{ user_infos["username"] }}
{% endblock %}

{% block page_desc %}
    <div class="container">
        <div class="row" style="margin-bottom: 30px">
            <div class="col"></div>
            <div class="col">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Chercher un profil"
                           aria-label="Search"
                           aria-describedby="search-addon" id="users"/>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" style="margin-bottom: 30px">
                {% if user_infos["avatar"] %}
                    <a href="https://getavataaars.com/" target="_blank">
                        <img class="avatar" src="{{ avatar }}"
                             alt="avatar-{{ user_infos["username"] }}"/>
                    </a>
                {% else %}
                    <a href="https://getavataaars.com/" target="_blank">
                        <img class="avatar" src="{{ url_for('static', filename='./assets/img/avatar.png') }}"
                             alt="avatar-{{ user_infos["username"] }}"/>
                    </a>
                {% endif %}
                {% if user_infos["username"] == session.get("username") %}
                    <form action="/profile/{{ user_infos["username"] }}" class="section text-center"
                          method="post"
                          enctype="multipart/form-data">
                        <input type="file" name="file" accept=".png" class="btn btn-secondary" required>
                        <br><br>
                        <input type="submit" class="btn btn-secondary" value="Changer d'avatar">
                    </form>
                {% endif %}
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">Prénom : {{ user_infos["firstname"] }}</li>
                    <li class="list-group-item">Nom : {{ user_infos["lastname"] }}</li>
                    <li class="list-group-item">Promotion : {{ user_infos["promo"] }}</li>
                    <li class="list-group-item">Email : {{ user_infos["email"] }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}